## Handling Imbalanced Dataset

 1.Upsampling    2.Down Sampling

In [41]:
import numpy as np
import pandas as pd

In [42]:
# Set the random seed for reproductibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [43]:
n_class_0, n_class_1

(900, 100)

In [44]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'tarrget' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2' : np.random.normal(loc=2, scale=1, size=n_class_1),
    'target' : [0]*n_class_1
    })

In [45]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [46]:
df.head()

   feature_1  feature_2  tarrget  target
0  -1.085631   0.551302      0.0     NaN
1   0.997345   0.419589      0.0     NaN
2   0.282978   1.815652      0.0     NaN
3  -1.506295  -0.252750      0.0     NaN
4  -0.578600  -0.292004      0.0     NaN

In [47]:
df['target'].value_counts()

0.0    100
Name: target, dtype: int64

## Upsampling (How to increase minority (100) dataset into 900 )

In [48]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 1]

In [49]:
df_minority.head()

Empty DataFrame
Columns: [feature_1, feature_2, tarrget, target]
Index: []

In [50]:
df_majority.head()

Empty DataFrame
Columns: [feature_1, feature_2, tarrget, target]
Index: []

## Perform Upsampling

In [51]:
from sklearn.utils import resample

In [57]:
df_minority_upsample = resample(df_minority, replace=True,     # Sample with replacement
                     n_samples = len(df_majority),               # to match the majority class
                     random_state = 42
                    )

In [59]:
df_minority_upsample.shape

(0, 4)

In [60]:
df_minority_upsample.head()

Empty DataFrame
Columns: [feature_1, feature_2, tarrget, target]
Index: []

In [61]:
df_minority_upsample.value_counts()

Series([], dtype: int64)

In [62]:
df_minority_upsample['target'].value_counts()

Series([], Name: target, dtype: int64)

In [63]:
df_upsampled = pd.concat([df_majority, df_minority_upsample])

In [64]:
df_upsampled['target'].value_counts()

Series([], Name: target, dtype: int64)

In [65]:
df_upsampled.head()

Empty DataFrame
Columns: [feature_1, feature_2, tarrget, target]
Index: []

In [66]:
df_upsampled.tail()

Empty DataFrame
Columns: [feature_1, feature_2, tarrget, target]
Index: []

In [68]:
df_upsampled.shape

(0, 4)

## Downsampling

In [69]:
# Set the random seed for reproductibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [70]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2' : np.random.normal(loc=2, scale=1, size=n_class_1),
    'target' : [0]*n_class_1
    })

In [71]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [ ]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [ ]:
df_majority_downsample = resample(df_majority, replace=True,     # Sample without replacement
                     n_samples = len(df_minority),               # to match the majority class
                     random_state=42
                    )

In [ ]:
df_minority_downsample.shape

In [ ]:
df_downsample = pd.concat([df_minority, df_majority_downsample])

In [ ]:
df_downsample.value_counts()

In [ ]:
df_downsample['target'].value_counts()