In [117]:
# Work / read  with csv file
# Dataframe is a tabular structure

In [ ]:
import pandas as pd

In [ ]:
pip install pandas

In [ ]:
df = pd.read_csv("p2.csv")

In [ ]:
df.head()

In [ ]:
df.head(3)

In [ ]:
# last five record
df.tail()

In [ ]:
df.tail(3)

In [ ]:
type(df)

In [ ]:
#to get column
list(df.columns)

In [ ]:
# to get specific column data
df['JobRole']

In [ ]:
df['Gender']

In [ ]:
type(df['Gender'])

In [ ]:
df[['Gender']]       #data get in dataframe form

In [ ]:
type(df[['Gender']])

In [ ]:
df.columns

In [ ]:
# for selecting single columns it [] will only work for single column
df["Gender"]

In [ ]:
# for selecting multiple columns
df[['EmployeeNumber' , 'Gender' , 'JobRole']]

In [ ]:
df.dtypes

In [ ]:
# Work / read with Excel file

In [ ]:
df1 = pd.read_excel("assignment1.xlsx")

In [ ]:
type(df1)

In [ ]:
df1.dtypes

In [ ]:
df1.columns

In [ ]:
df1['Customer Number']

In [ ]:
df1[['Customer Number', 'Amount Deposited']]

In [ ]:
# read with url
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df2 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df2.head()

In [ ]:
df2.columns

In [ ]:
type(df2)

In [ ]:
df2[["PassengerId", "Survived"]]

In [ ]:
type(df2["Survived"])

In [ ]:
df2.tail()

In [ ]:
df2.tail(3)

In [ ]:
# Read with html

In [ ]:
pip install lxml

In [ ]:
import lxml                  #it return list
import pandas as pd
pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [ ]:
url_data = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [ ]:
type(url_data)

In [ ]:
len(url_data)

In [ ]:
df2 = url_data[0]

In [ ]:
df3

In [ ]:
df3.head()

In [ ]:
df3.tail(3)

In [ ]:
df3.dtypes

In [113]:
# store data permanently

In [114]:
df2.to_csv("players_data.csv")

In [115]:
# to avoid row index
df2.to_csv("players_data.csv", index = False)

In [116]:
# to avoid columns
df2.to_csv("players_data.csv", columns = None)

In [3]:
import pandas as pd
df = pd.DataFrame([1,2,3],index=['A','B','C'])                                       
def reindex_dataframe(df):
       # Reset the index of the DataFrame to a new index starting from 0
    df = df.reset_index(drop=True)
       # Set the new index values by multiplying the row number by 2 and adding 1
    df.index = (df.index * 2) + 1
    return df
new_df = reindex_dataframe(df)

In [4]:
new_df

   0
1  1
3  2
5  3

In [5]:
import pandas as pd
def sum_first_three(df):
      # Get the first three values in the 'Values' column
    values = df['Values'][:3]
      # Calculate the sum of the first three values
    sum_first_three = sum(values)
      # Print the sum to the console
    print("Sum of the first three values in 'Values' column:", sum_first_three)
                                       
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)

Sum of the first three values in 'Values' column: 60

In [6]:
import pandas as pd

def add_word_count(df):
    # Split the 'Text' column by spaces and count the number of words in each row
    word_count = df['Text'].str.split().str.len()
    # Add the new 'Word_Count' column to the DataFrame
    df['Word_Count'] = word_count
    # Return the updated DataFrame
    return df
   
df = pd.DataFrame({'Text': ['This is a sentence', 'Another sentence with more words']})
df = add_word_count(df)
print(df)

                               Text  Word_Count
0                This is a sentence           4
1  Another sentence with more words           5

In [8]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print( df.size)
print( df.shape)

9
(3, 3)