In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [11]:
s = df['Name'][0:10]

In [12]:
len(s)

10

In [13]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [14]:
type(s)

pandas.core.series.Series

In [24]:
l = ['a','b','c','d','e','f','g','h','i','j']

In [28]:
s = pd.Series(list(s),index=l)

In [20]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [26]:
l = ['subh','b','c','d','e','f','g','h','i','j']

In [29]:
s1 = pd.Series(list(s),index=l)

In [30]:
s1

subh                              Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                  Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [31]:
s[0]

'Braund, Mr. Owen Harris'

In [32]:
s1[0]

'Braund, Mr. Owen Harris'

In [33]:
s1['subh']

'Braund, Mr. Owen Harris'

In [35]:
s2 = s1.append(s)

/tmp/ipykernel_133/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [36]:
s2

subh                              Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                  Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
subh                              Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                  Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [37]:
s2[0]

'Braund, Mr. Owen Harris'

In [38]:
s2[4]

'Allen, Mr. William Henry'

In [40]:
s3 = pd.Series([3,4,5,6,6] , index =[2,4,5,6,1])

In [41]:
s4 = pd.Series([34,345,45,45,454] , index=[9,4,5,6,7])

In [43]:
s5 = s3.append(s4)

/tmp/ipykernel_133/2271913347.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s5 = s3.append(s4)

In [44]:
s5

2      3
4      4
5      5
6      6
1      6
9     34
4    345
5     45
6     45
7    454
dtype: int64

In [45]:
s5[4]

4      4
4    345
dtype: int64

In [46]:
s5[0:5]

/tmp/ipykernel_133/1173574618.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s5[0:5]

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [48]:
s5+s4

1      NaN
2      NaN
4    349.0
4    690.0
5     50.0
5     90.0
6     51.0
6     90.0
7    908.0
9     68.0
dtype: float64