In [ ]:
Q1. Write a program to accept percentage from the user and display the grade according to the following criteria:
          Marks      Grade
          >90          A
     >80 and <=90      B
     >=60 and <=80     C
       below 60        D
    
Ans.

In [18]:
percentage = float(input('Enter the marks of the student: '))
if percentage > 90:
    Grade = 'A'
elif percentage > 80 and percentage <=90:
    Grade = 'B'
elif percentage >= 60:
    Grade = 'C'
else:
    Grade = 'D'
    
print("The Grade of the students: ",Grade)

Enter the marks of the student:  98

The Grade of the students:  A

In [ ]:
Q2. Write a program to accept the cost of a bike and display the road tax to be paid according to the following criteria:
           Tax           Cost Price(in Rs)
            15%             >100000
            10%          >50000 and <=100000
            5%              <=50000

In [19]:
# Price of Bike
cost_price = float(input("Enter the cost price of the bike (in Rs): "))

# Road tax based on cost_price
if cost_price > 100000:
    road_tax = 0.15 * cost_price
elif cost_price >50000 and cost_price <=100000:
    road_tax = 0.10 * cost_price
else:
    road_tax = .05 * cost_price
    
print("Road tax to be paid: Rs", road_tax)

Enter the cost price of the bike (in Rs):  870000

Road tax to be paid: Rs 130500.0

In [ ]:
Q3. Accept any city from the user and display monuments of that city.
        City          Monument
        Delhi          Red Fort
        Agra           Taj Mahal
        Jaipur         Jal Mahal

In [23]:
monuments = {
    'Delhi' : 'Red Fort',
    'Agra'  : 'Taj Mahal',
    'Jaipur' : 'Jal Mahal'
}

city = input("Enter the name of the city: ")

if city in monuments:
    print("Monument in", city, "is", monuments[city])
else:
    print("Monument is not available in", city)

Enter the name of the city:  Delhi

Monument in Delhi is Red Fort

In [ ]:
Q4: Check how many times a given number can be divided by 3 before it is less than or equal to 10.
Ans.

In [54]:
number = int(input("Enter a number: "))
count=0

while number > 10:
    number /= 3
    count += 1
    
print("Number of times divisible by 3 before reaching 10 or less:", count)

Enter a number:  30

Number of times divisible by 3 before reaching 10 or less: 1

In [ ]:
Q5. Why and When to use while loop in python give a detailed description with example
Ans.Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition 
     becomes false, the line immediately after the loop in the program is executed.

In [42]:
count = 0
while (count < 3): 
    count = count + 1
    print("Hello India")

Hello India
Hello India
Hello India

In [ ]:
Q6. Use nested while loop to print 3 different pattern.
Ans.

In [56]:
# Pattern 1: Square of asterisks
print("Pattern 1:")
row = 1
while row <= 5:
    col = 1
    while col <= 5:
        print("*", end=" ")
        col += 1
    print()
    row += 1

Pattern 1:
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [58]:
#Pattern 2: Right-angled triangle of asterisks
print("\nPattern 2:")
row = 1
while row <= 5:
    col = 1
    while col <= row:
        print("*", end=" ")
        col += 1
    print()
    row += 1

Pattern 2:
*
* *
* * *
* * * *
* * * * *

In [59]:
# Pattern 3: Inverted right-angled triangle of asterisks
print("\nPattern 3:")
row = 5
while row >= 1:
    col = 1
    while col <= row:
        print("*", end=" ")
        col += 1
    print()
    row -= 1

Pattern 3:
* * * * *
* * * *
* * *
* *
*

In [ ]:
Q6.Reverse a while loop to display numbers from 10 to 1.
Ans.

In [55]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1